<div class="row">
<div class="span4">
<h2>Get in the game!</h2>
<fieldset>
	<legend>Sign Up</legend>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "well"}) do |f| %>
  <%= devise_error_messages! %>

<div><%= f.input :first_name %><br />
<div><%= f.input :last_name %><br />
<div><%= f.input :profile_name %><br />
<div><%= f.input :email %><br />
<div><%= f.input :password %><br />
<div><%= f.input :password_confirmation %><br />

<!-- autofocus?
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>
-->

  <div><%= f.button :submit, "Sign up" %></div>
  </fieldset>
	  <% end %>
  
<%= render "devise/shared/links" %>
  </div><!--end span4-->
  
  	<div class="span8">
		<h2>You can sign up and feel included. </h2>
	</div><!--end span8-->
  </div><!--end row-->